html {
    scroll-behavior: smooth;
}

/* Dark Black Theme */
:root {
    --dark-background: #0B0C0A;
    --dark-gray: #121212;
    --light-gray: #A0A0A0;
    --soft-white: #E0E0E0;
    --font1: "Oswald";
    --font2: "Montserrat";
    --font3: "Roboto";
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Hero Section Styling */
#hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../images/1art.gif);
    background-position: center center;
    background-size: cover;
}

/* Main Section */
#actual {
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    background: var(--dark-background);
    color: var(--soft-white);
}

/* Title and Content Styling */
#actual #actual-title {
    line-height: 30px;
    margin-left: 200px;
    width: 50%;
    font-size: 1.2em;
}

#actual #actual-title h2 {
    font-family: var(--font1);
    font-weight: bold;
}

#actual #actual-list {
    margin-right: 200px;
    text-align: justify;
    width: 50%;
}

#actual #actual-list li {
    padding-bottom: 25px;
}

#actual #actual-list li h3 {
    font-family: var(--font2);
    font-size: 1.3em;
}

#actual #actual-list li h3 a {
    color: var(--soft-white);
    transition: 0.2s;
}

#actual #actual-list li h3 a:hover {
    color: var(--light-gray);
    text-decoration: underline;
}

#actual #actual-list li h4 {
    font-family: var(--font2);
    color: var(--light-gray);
}

#actual #actual-list li p {
    font-family: var(--font3);
    margin-top: 5px;
    font-size: 1em;
    color: var(--soft-white);
}

/* Responsive Styling */
@media (max-width: 800px) {
    #actual {
        display: block;
    }
    
    #actual #actual-title {
        width: 80%;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    #actual #actual-list {
        width: 100%;
    }

    #actual #actual-list ul {
        font-size: 90%;
        padding: 0 30px;
    }
}

/* Resume Section */
#resume {
    margin: 80px 200px;
    color: var(--soft-white);
}

@media (max-width: 800px) {
    #resume {
        margin: 80px 30px;
        text-align: justify;
    }
}

#resume h2 {
    font-family: var(--font1);
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--light-gray);
}

#resume h3 {
    font-family: var(--font2);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

#resume h4 {
    font-family: var(--font3);
    font-size: 90%;
    margin-bottom: 10px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    color: var(--light-gray);
}

/* Time Styling */
.time {
    display: flex;
    text-align: right;
    color: var(--light-gray);
    font-size: 80%;
}

.time dt {
    margin-inline: 5px;
}

.end {
    text-align: right;
}

/* Description Styling */
.description {
    margin-bottom: 30px;
    text-align: justify;
    font-family: var(--font3);
    font-size: 90%;
    color: var(--soft-white);
}

#resume li p {
    font-family: var(--font3);
    font-size: 0.9em;
    text-align: justify;
    color: var(--soft-white);
}

.final-lists li {
    margin: 10px 0;
    list-style: none;
    font-family: var(--font3);
    font-size: 0.9em;
    color: var(--soft-white);
}

/* Links in Resume */
#resume a {
    color: var(--light-gray);
}

#resume a:hover {
    text-decoration: underline;
}
